streamlit
streamlit-option-menu
python-dotenv
openai
google-generativeai
PyPDF2
langchain_google_genai
langchain-text-splitters
langchain_community
faiss-cpu
sentence-transformers
langchain-huggingface